# 02장 파이썬 프로그래밍의 기초, 자료형

## 02-2 문자열 자료형

In [1]:
# 문자열(String)이란? 문자, 단어 등으로 구성된 문자들의 집합
"Life is too short"
"a"
"123"

'123'

In [2]:
# 문자열에 작은따옴표('') 포함시키기: 문자열을 ''가 아닌 ""로 감싸면 됨
food = "Python's favorite food is perl"
food

"Python's favorite food is perl"

In [3]:
food = 'Python's favorite food is perl'
food

SyntaxError: invalid syntax (<ipython-input-3-505ab2258aa9>, line 1)

In [4]:
# 큰따옴표("")를 포함시키려면 작은따옴표('')로 감싸면 됨
say = '"Python is very easy." he says.'
say

'"Python is very easy." he says.'

In [5]:
# 혹은 백슬래시(\)를 이용해도 됨, 백슬래시는 기호 그 자체를 뜻하게 됨
food = 'Python\'s favorite food is perl'
say = "\"Python is very easy.\" he says."
print(food)
print(say)

Python's favorite food is perl
"Python is very easy." he says.

In [7]:
# \n: 줄바꿈
multiline = "Life is too short \n You need python"
multiline

'Life is too short \n You need python'

In [8]:
# \n은 읽기 불편하고 줄이 길어지는 단점이 있으므로 작은따옴표 혹은 큰따옴표 3개 사용할 것
multiline = """
    Life is too short
    You need python
    """
multiline

'\n    Life is too short\n    You need python\n    '

### [이스케이프 코드란?]
- 프로그래밍할 때 사용할 수 있도록 미리 정의해 둔 "문자 조합"
- 주로 출력물을 보기 좋게 정렬하는 용도로 사용
<br>

| 코드 | 설명 |
|---|:---:|
| '\n' | 줄바꿈 |
| '\t' | 탭간격 |
| '\\' | 백스페이스(\)를 그대로 사용 |
| \\' | 작은따옴표(')를 그대로 사용 |
| '\r' | 캐리지 리턴(줄 바꿈 문자, 현재 커서를 가장 앞으로 이동 |

In [10]:
# 문자열 연결하기(Concatenation)
head = "Python"
tail = " is fun!"
head + tail

'Python is fun!'

In [11]:
# 문자열 곱하기
a = "python"
a*2

'pythonpython'

In [12]:
# 문자열 곱하기 응용
print("="*50)
print("My Program")
print("="*50)

==================================================
My Program
==================================================

In [13]:
# len(): 문자열 길이
a = "Life is too short"
len(a)

17

In [14]:
# 문자열 인덱싱(Indexing)
a = "Life is too short, you need Python."
a[3]

'e'

In [15]:
a[-1]

'.'

In [17]:
# 문자열 슬라이싱(Slicing)
# a[0:4]는 0 <= a < 4와 같다
a[0:4]

'Life'

In [18]:
a[19:]

'you need Python.'

In [19]:
a[:17]

'Life is too short'

In [20]:
a[:]

'Life is too short, you need Python.'

In [21]:
a[19:-7]

'you need '

In [22]:
# 슬라이싱으로 문자열 나누기
a = "20200421Clean"
date = a[:8]
weather = a[8:]
date

'20200421'

In [23]:
weather

'Clean'

In [24]:
#문자열 일부 바꾸기
a = "Pithon"
a[1] = 'y'
a

TypeError: 'str' object does not support item assignment

In [27]:
# "Pithon"이라고 이미 정의된 a는 요소값만 바꿀 수 없다(immutable)
# 따라서 요소값을 바꿔주는 것이 아니라 a를 재정의해줘야 함
a = a[:1] + 'y' + a[2:]
a

'Python'

In [28]:
# 문자열 포매팅
"I eat %d apples." % 6

'I eat 6 apples.'

In [29]:
"I eat %s apples." % "five"

'I eat five apples.'

In [30]:
num = 3
"I eat %d apples." % num

'I eat 3 apples.'

In [32]:
# 2개 이상의 값 넣기
number = 10
day = "three"
"I ate %d apples, so I was sick for %s days." % (number, day)

'I ate 10 apples, so I was sick for three days.'

### 문자열 포맷 코드
<br>

| 코드 | 설명 |
|---|:---:|
| '%s' | 문자열(String) |
| '%c' | 문자 1개(character) |
| '%d' | 정수(Integer) |
| '%f' | 부동소수(floating-point) |
| '%o' | 8진수 |
| '%x' | 16진수 |
| '%%' | Literal % (문자 % 자체) |

In [34]:
# %s는 어떤 형태의 값이든 변환해 넣을 수 있다
"rate is %s" % 3.234

'rate is 3.234'

In [35]:
"I have %s apples" % 3

'I have 3 apples'

In [36]:
# 문자열에서 %를 쓸 때는 %%로 써준다
"Error is %d%" % 98

ValueError: incomplete format

In [37]:
"Error is %d%%" % 98

'Error is 98%'

In [38]:
# 포맷코드를 숫자와 함께 사용
"%10s" % "hi"

'        hi'

In [39]:
"%s10" % "hi"

'hi10'

In [40]:
"%-10s" % "hello"

'hello     '

In [41]:
# 소수점 표현하기
"%0.2f" % 3.42134234

'3.42'

In [42]:
# 소수점은 네번째 자리까지만 표시하고 전체길이가 10개인 문자열 공간에서 오른쪽 정렬
"%10.4f" % 3.42134234

'    3.4213'

In [43]:
# format 함수를 사용한 포맷팅
"I eat {0} apples".format(3)

'I eat 3 apples'

In [44]:
"I eat {0} apples".format("five")

'I eat five apples'

In [45]:
number = 10
"I eat {0} apples".format(number)

'I eat 10 apples'

In [46]:
number = 10
day = 'three'
"I ate {0} apples, so I was sick for {1} days.".format(number, day)

'I ate 10 apples, so I was sick for three days.'

In [47]:
"I ate {number} apples, so I was sick for {day} days.".format(number=4, day=4)

'I ate 4 apples, so I was sick for 4 days.'

In [48]:
# 인덱스와 이름 혼용
"I ate {0} apples, so I was sick for {day} days.".format(7, day=4)

'I ate 7 apples, so I was sick for 4 days.'

In [49]:
# 왼쪽 정렬
"{0:<10}".format("hi")

'hi        '

In [50]:
# 오른쪽 정렬
"{0:>10}".format("hi")

'        hi'

In [51]:
# 가운데 정렬
"{0:^10}".format("hi")

'    hi    '

In [52]:
# 공백채우기
"{0:=^10}".format("hi")

'====hi===='

In [53]:
"{0:!<10}".format("hi")

'hi!!!!!!!!'

In [54]:
# 소수점 표현하기
y = 3.42134234
"{0:0.4f}".format(y)

'3.4213'

In [55]:
"{0:10.4f}".format(y)

'    3.4213'

In [56]:
# 기호 표현하기
"{{ and }}".format()

'{ and }'

In [57]:
# f 문자열 포매팅
name = '홍길동'
age = 30
f'나의 이름은 {name}입니다. 나이는 {age}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [58]:
f'나는 내년이면 {age+1}살이 된다.'

'나는 내년이면 31살이 된다.'

In [60]:
# 딕셔너리는 Key, Value를 한 쌍으로 갖는 자료형
d = {'name':'홍길동', 'age':30}
f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [61]:
# f 문자열 정렬
f'{"hi":<10}'

'hi        '

In [62]:
f'{"hi":>10}'

'        hi'

In [63]:
f'{"hi":=^10}'

'====hi===='

In [64]:
f'{"hi":!<10}'

'hi!!!!!!!!'

In [65]:
y = 3.42134234
f'{y:0.4f}'

'3.4213'

In [66]:
f'{y:10.4f}'

'    3.4213'

In [67]:
f'{{ and }}'

'{ and }'

## 문자열 관련 함수들

In [68]:
# 문자 개수 세기(count)
a = "hobby"
a.count('b')

2

In [69]:
# 위치 알려주기1(find)
a = "Python is the best programming language."
a.find('b')

14

In [70]:
# 문자열 존재하지 않으면 -1 반환
a.find('k')

-1

In [71]:
# 위치 알려주기2(index)
a = "Life is too short"
a.index('t')

8

In [72]:
# 문자열 존재하지 않으면 에러 발생
a.index('k')

ValueError: substring not found

In [73]:
# 문자열 삽입(join)
",".join('abcd')

'a,b,c,d'

In [74]:
",".join(['a', 'b', 'c', 'd'])

'a,b,c,d'

In [75]:
# 소문자를 대문자로 바꾸기(upper)
a = "hi"
a.upper()

'HI'

In [76]:
# 대문자를 소문자로(lower)
a = "HI"
a.lower()

'hi'

In [77]:
# 왼쪽 공백 지우기(lstrip)
a = "  hi  "
a.lstrip()

'hi  '

In [78]:
# 오른쪽 공백 지우기(rstrip)
a.rstrip()

'  hi'

In [79]:
# 양쪽 공백 지우기(strip)
a = " hi "
a.strip()

'hi'

In [80]:
# 문자열 바꾸기(replace)
a = "Life is too short"
a.replace("Life", "Your leg")

'Your leg is too short'

In [81]:
# 문자열 나누기(split)
a = "Life is too short"
a.split()

['Life', 'is', 'too', 'short']

In [82]:
b = "a:b:c:d"
b.split(":")

['a', 'b', 'c', 'd']